img{
	width: 1000px;
	height: 400px;
	filter: opacity(80%) grayscale(70%);
	margin-bottom: 0px;
}
.bl{
	filter:opacity(80%) grayscale(70%) blur(3px);
}
.container{
	position: relative;
	text-align: center;
	color: white;
	background: #C0C0C0;
}
.background{

}
.down{
	border:1px solid grey;
	border-radius: 15px;
	font-size: 10px;
	padding: 10px 15px 10px 15px;
	background: #f7b7b2;
	color: white;
	position: absolute;
	right: 46%;
	top:50%;
}
.down:hover{
	
	font-size: 11px;
	background: #f7aca6;
	box-shadow:0px 8px 15px grey;
}
h1{
	font-weight: bold;
	font-size: 3em;
	position: absolute;
	right: 33%;
	top:10%;
	margin-bottom: 10px;
}

